---
http_interactions:
- request:
    method: get
    uri: http://netflixroulette.net/api/api.php?title=Breaking%20Bad&year=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"unit":7968,"show_id":70143836,"show_title":"Breaking Bad","release_year":"2008","rating":"4.5","category":"TV
        Shows","show_cast":"Bryan Cranston, Anna Gunn, Aaron Paul, Betsy Brandt, R.J.
        Mitte, Dean Norris, Bob Odenkirk, Steven Michael Quezada, Jonathan Banks,
        Giancarlo Esposito","director":"","summary":"Emmy winner Bryan Cranston stars
        as Walter White, a high school science teacher who learns that he has terminal
        lung cancer and teams with a former student to manufacture and sell high-quality
        crystal meth to secure his family''s future.","poster":"http:\/\/netflixroulette.net\/api\/posters\/70143836.jpg","mediatype":1,"runtime":"45
        min"}'
  recorded_at: Thu, 15 May 2014 22:55:38 GMT
- request:
    method: get
    uri: http://netflixroulette.net/api/api.php?title=Breaking%20Bad&year=2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"errorcode":404,"message":"Sorry! We couldn''t find a movie with
        that title!"}'
  recorded_at: Thu, 15 May 2014 22:55:38 GMT
- request:
    method: get
    uri: http://netflixroulette.net/api/api.php?actor=Nicolas%20Cage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"unit":636,"show_id":643557,"show_title":"It Could Happen to You","release_year":"1994","rating":"3.4","category":"Comedies","show_cast":"Nicolas
        Cage, Bridget F[...]
- request:
    method: get
    uri: http://netflixroulette.net/api/api.php?director=Quentin%20Tarantino
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"unit":84,"show_id":60032563,"show_title":"Kill Bill: Vol. 2","release_year":"2004","rating":"3.8","category":"Action
        & Adventure","show_cast":"Uma Thurm[...]
