---
http_interactions:
- request:
    method: get
    uri: http://netflixroulette.net/api/api.php?title=Breaking%20Bad&year=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '{"unit":6545,"show_id":70143836,"show_title":"Breaking Bad","release_year":"2008","rating":"4.5","category":"Dramas\n","show_cast":"Bryan
        Cranston, Anna Gunn, Aaron Paul, Betsy Brandt, R.J. Mitte, Dean Norris, Bob
        Odenkirk, Steven Michael Quezada, Jonathan Banks, Giancarlo Esposito","director":"","summary":"Emmy
        winner Bryan Cranston stars as Walter White, a high school science teacher
        who learns that he has terminal lung cancer and teams with a former student
        to manufacture and sell high-quality crystal meth to secure his family''s
        future.","poster":"http:\/\/cdn-2.nflximg.com\/en_us\/boxshots\/ghd\/70143836.jpg","mediatype":1}'
  recorded_at: Fri, 25 Apr 2014 20:48:33 GMT
- request:
    method: get
    uri: http://netflixroulette.net/api/api.php?title=Breaking%20Bad&year=2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '{"error":404}'
  recorded_at: Fri, 25 Apr 2014 20:48:33 GMT
recorded_with: VCR 2.2.4
